{% extends 'layout.twig' %}

{% block content %}
	{#
    |
    | Tpl CMS
    |---------------
    #}
	<div id="page-sample">

        {#
        |
        | Section Banner
        |-----------------
        #}
        {{ global.banner({
            'title': post.title,
            'image': img ~ '/global/theme.jpg'
        }) }}

        {#
        |
        | Section 1
        |------------
        #}
        <section class="section">
            <div class="container">
                <h2 class="title-lg mb-md">Mon Titre </h2>
                <div class="row">
                    <div class="col-lg-5" data-anim-timeline>
                        <div class="bg-img-landscape-sm" style="background-image: url('{{ img ~ '/global/theme-md.jpg' }}')" data-kira-item="fadeInUp.parallax"></div>
                    </div>
                    <div class="col-lg-6 offset-lg-1" data-anim-timeline>
                        <div data-anim-item="fadeInUp.parallax">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae cum voluptatibus distinctio odio voluptates ipsa at hic error atque? Consequuntur ullam doloribus itaque fugit accusamus expedita repellat sequi beatae laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur est veniam dolorem doloribus ut, optio laboriosam eaque necessitatibus sit quod quas itaque commodi cupiditate molestiae quos! Amet assumenda modi natus.
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {#
        |
        | Section 2
        |------------
        #}
        <div data-anim-timeline>
            <section class="section bg-black c-white ta-c" data-anim-item="scaleX">
                <div class="container" data-anim-item="fadeInLeft.stagger.sm" data-start="-=0.2">
                    <h3 class="title-lg mb-md" data-stagger-item>Un Titre</h3>
                    <div data-stagger-item>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, quasi enim eligendi repudiandae dignissimos quis quod aspernatur consequatur blanditiis, praesentium asperiores eveniet illum expedita corrupti porro vero maiores reiciendis voluptas! Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro veniam doloribus hic quibusdam, ea odit minima quia in iste vitae fugiat praesentium facere eligendi officia, harum obcaecati distinctio omnis quos!
                    </div>
                </div>
            </section>
        </div>
        

        {#
        |
        | Section 3
        |------------
        #}
        <section class="section">
            <div class="container">
                <div class="row">
                    {% for item in 0..5 %}
                        <div class="col-md-4" data-anim-timeline>
                            <div class="bg-img-landscape-sm mb-md" style="background-image: url('{{ img ~ '/global/theme-md.jpg' }}')" data-anim-item="fadeInUp.parallax"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        {#
        |
        | Ajax
        |--------
        #}
        <div data-anim-timeline>
            <section class="section bg-black ta-c pb-lg" data-anim-item="scaleX">
                <div class="container" data-anim-item="fadeInLeft.stagger.sm" data-start="-=0.2">
                    <h2 class="title-lg c-white mb-lg" data-stagger-item>Charger des articles</h2>
                    <div class="row">
                        <div class="col" data-stagger-item>
                            <a href="#" class="link-white" data-ajax-url="/yagami-site/ajax/posts">Ajax All Posts</a>
                        </div>
                        <div class="col" data-stagger-item>
                            <a href="#" class="link-white" data-ajax-url="/yagami-site/ajax/posts/category/non-classe">Ajax Non classé</a>
                        </div>
                        <div class="col" data-stagger-item>
                            <a href="#" class="link-white" data-ajax-url="/yagami-site/ajax/post/1">Ajax Post n°1</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        

        {#
        |
        | Loaded news
        |--------------
        #}
        <section class="section pt-md">
            <div class="container">
                <div class="loaded-posts row mb-md-child"></div>
            </div>
        </section>

    </div>
{% endblock %}