/*
-------------------------------- 
GRID REQUIRE
--------------------------------
*/
.container {
    width: calc(100% - 2 * var(--component-padding));
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width-xxxl); // removable
}

// --------------------------------

// Grid System

// --------------------------------
.grid {
    --gap: 0px;
    --gap-x: var(--gap);
    --gap-y: var(--gap);
    --offset: var(--gap-x);
    display: flex;
    flex-wrap: wrap;

    > * {
        flex-basis: 100%;
        max-width: 100%;
        min-width: 0;
    }
}
