<form style="width: 280px;" role="search" method="get" class="search-form d-f" action="{{ function('home_url', '/') }}">
    <input type="search" class="form-control search-field" placeholder="Type something..." value="{{ function('get_search_query') }}" name="s"/>
    <input class="search-submit btn-grey btn btn-sm" type="submit" value="Search"/>
</form>
