{% extends 'layout.twig' %}

{% block content %}
	<div id="page-news-date">
    
        {#
        |
        | Section Banner
        |-----------------
        #}
        {{ global.banner({
            'title': 'Date: ' ~ title,
            'image': img ~ '/global/theme.jpg'
        }) }}

        {#
        |
        | Section news
        |---------------
        #}
        <section class="section">
            <div class="container">
                <div class="row loaded-posts mb-md-child">
                    {% for key, value in posts %}
                        <div class="col-sm-4">
                            {{ global.card({
                                'image'  : img ~ '/global/theme-sm.jpg',
                                'terms'  : value.get_terms('category'),
                                'title'  : value.title,
                                'date'   : value.date|date('F Y')|capitalize,
                                'content': value.content|truncate(20, true),
                                'link'   : value.link
                            }) }}
                        </div>
                    {% endfor %}
                </div>
                
                {{ global.pagination({ 'pagination': posts.pagination, 'prev': 'Précédent', 'next': 'Suivant' }) }}
            </div>
        </section>
    </div> 
{% endblock %}